<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<% if @article %>
<h2>
  <%= @article.title %>
</h2>
<p>
  <%= @article.text %>
</p>
<p>
  <span>Кол-во записей в бд: </span>
  <%= @count %>
</p>
<% end %>
